.navbar {
    background-color: #11182A;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    z-index: 1;
    height:80px;
    border-bottom: 1px solid black;
}
