h1 {
    color: white;
    user-select: none;
}

h1:hover {
    color: #2dd4cf;
}

h1:active {
    color: #0e74a0;
}

.navbar_appoptions {
    height: inherit;
    width: inherit;
    display: block;
}

.navbar_logo {
    max-width: 90%;
    max-height: 90%;
    height: inherit;
    width: 100px;
    vertical-align: middle;
    border: 0 0 0 0;
    background: url(../../images/logo.png) no-repeat;
    margin: 0;
    float: left;
}

.navbar_appflexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar_flexitem_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar_flexitem_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 60vw);
    height: 100%;
}

.navbar_flexitem_right > h1 {
    padding-right: 5%;
}

.navbar_flexitem_left > h1 {
    padding-right: 5%;
}