.app-nav-social-container {
    position: fixed;
    top: 0;
    max-width: 20vw;
}

.contentBody {
    margin-left: 20vw;
    margin-top: 80px;
    z-index: -1;
    position:absolute;
    width:100%;
    overflow-x: hidden;
}

.contentBody-nosocial {
    margin-left: 0;
    margin-top: 80px;
    z-index: -1;
    position:absolute;
    width:100%;
    overflow-x: hidden;
}