.community-screen {
    background-color: #1F293A;
    height: 100%;
}

.community-screen-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    left: 0;
    /* align text to center */
    text-align: center;
    /* transform: translateX(-20vw); */
    /* margin-top:1em; */
    margin-bottom: 2em;
    width: 80vw;
}

.community-screen-text > h1 {
    display: flex;
    margin: 0;
    padding: 0;
}